*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(51, 138, 142)0%, rgb(15, 171, 132)100%);
    
}
/* Grid */
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}
.container.x .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.cicle .cell:not(.x):not(.circle):hover::before{
    background: rgba(255,255,255,.3) !important
}

.cell{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 4px solid #ffff;
}
.cell.x, .cell.circle{
    cursor: not-allowed;
}
/* Celulas */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}
/* X */
.cell.x::after,
.cell.x::before,
.container.x .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before{
    content: "";
    width: calc(100px * 0.15);
    height: calc(100px * 0.9);
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
}
.cell.x::after,
.container.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(45deg);
}
.cell.x::before,
.container.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(-45deg);
}
/* Circle */
.cell.cicle::after,
.cell.circle::before,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.cicle .cell:not(.x):not(.circle):hover::before{
    content: "";
    width: calc(100px * 0.8);
    height: calc(100px * 0.8);
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%; 
}
/* Aviso */
.aviso{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
}
.aviso2{
    display: flex !important;
}
.aviso button{
    font-size: 2.5rem;
    background: rgb(51, 138, 142);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: #ffff;
}
.aviso button:hover{
    background: #ffff;
    color: rgb(51, 138, 142);
}
.aviso p{
    background: #ffff;
    font-size: 5rem;
}